-- bootstrap lazy.nvim, LazyVim and your plugins
require("config.lazy")
{{ if eq .hasGUI "true" }} 
require("config.neovide")
{{ end }}
{{ if (and (eq .chezmoi.os "darwin") (eq .isWork "true")) }}
require("config.work_darwin_firenvim_config")
{{ end }}
