{{- if eq .chezmoi.os "endeavouros" -}}
#!/bin/bash

yay -S btop lazygit gh mosh neovim gnupg ripgrep fzf fd tree tmux npm lua-language-server rust-analyzer shellcheck markdown yamllint kitty syncthing
EOF
{{ end -}}
