{{ if hasKey .chezmoi.osRelease "id" -}}
{{- if eq .chezmoi.osRelease.id "endeavouros" -}}
#!/bin/bash

yay -Syy --needed archlinux-keyring btop lazygit mosh neovim gnupg ripgrep fzf fd tree tmux npm lua-language-server rust-analyzer shellcheck yamllint kitty syncthing pass

{{ end -}}
{{ end }}
