{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF

tap "jimeh/emacs-builds"
tap "jakehilborn/jakehilborn"
tap "simplydanny/pass-extensions"

brew "btop"

# Git
brew "lazygit"
brew "gh"

brew "mosh"
brew "neovim"
brew "gnupg"

# Utils
brew "ripgrep"
brew "fzf"
brew "fd"
brew "tree"
brew "tmux"
brew "displayplacer"
brew "pass-update"
brew "findutils"

# LSP servers
brew "npm"
brew "lua-language-server"
brew "rust-analyzer"
brew "shellcheck"
brew "markdown"
brew "yamllint"

cask "karabiner-elements"
cask "kitty"
cask "syncthing"
cask "emacs-app"
EOF
{{ end -}}
