# source antidote
source ${ZDOTDIR:-~}/.antidote/antidote.zsh
antidote load
#plugins=(
#  # ansible
#  # docker
#  # docker-compose
#  git
#  python
#  sudo
#  # tmux
#  copypath
#  copyfile
#  # aws
#  fzf
#  zsh-autosuggestions
#  zsh-syntax-highlighting
#	)
#
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

export HISTFILE=~/.zsh_history
setopt APPEND_HISTORY
setopt SHARE_HISTORY
SAVEHIST=1000
HISTSIZE=999
setopt HIST_EXPIRE_DUPS_FIRST
setopt EXTENDED_HISTORY
export EDITOR=nvim
alias cz="chezmoi"
alias wpa="workpass"
alias em="emacsclient -nw"

bindkey '^ ' autosuggest-accept
bindkey '^j' autosuggest-execute
bindkey '^k' autosuggest-clear
bindkey '^p' up-history
bindkey '^n' down-history
bindkey '^a' beginning-of-line
bindkey '^e' end-of-line

if [ -d "$HOME/.password-store/" ]
then
  export PASSWORD_STORE_ENABLE_EXTENSIONS=true
  export PASSWORD_STORE_CHARACTER_SET='[:alnum:].,!?&*%_$#^@{}[]()|=/+-'
fi

if [ -d "$HOME/.cargo/bin" ]
then
	export PATH=$PATH:$HOME/.cargo/bin
fi

if [ -d "$HOME/.local/bin" ]
then
	export PATH=$PATH:$HOME/.local/bin
fi

if [ -d "$HOME/.config/emacs/bin" ]
then
	export PATH=$PATH:$HOME/.config/emacs/bin
fi

{{ if eq .chezmoi.hostname "franta-desktop"}}
export WORKON_HOME=~/.virtualenvs
source /usr/bin/virtualenvwrapper_lazy.sh
source /usr/share/fzf/key-bindings.zsh && source /usr/share/fzf/completion.zsh
{{ end }}

{{ if (and (eq .chezmoi.os "darwin") (eq .isWork "true")) }}
alias b2="ssh-yubikey.sh b2 -t 'rm /run/user/38199/gnupg/S.gpg-agent; ~/bin/tmux a'"
{{ end }}
#tmux-window-name() {
#	($TMUX_PLUGIN_MANAGER_PATH/tmux-window-name/scripts/rename_session_windows.py &)
#}
#
#add-zsh-hook chpwd tmux-window-name
if [ -f /usr/local/bin/starship ]; then
  eval "$(starship init zsh)"
fi

