if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi
export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME="powerlevel10k/powerlevel10k"
DISABLE_AUTO_UPDATE="true"
COMPLETION_WAITING_DOTS="true"

plugins=(
  # ansible
  # docker
  # docker-compose
  git
  python
  sudo
  # tmux
  copypath
  copyfile
  # aws
  fzf
  zsh-autosuggestions
  zsh-syntax-highlighting
	)

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
autoload -Uz compinit; compinit
source $ZSH/oh-my-zsh.sh

[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

export EDITOR=nvim
alias cz="chezmoi"
alias wpa="workpass"
alias em="emacsclient -nw"

bindkey '^ ' autosuggest-accept
bindkey '^j' autosuggest-execute
bindkey '^k' autosuggest-clear

if [ -d "$HOME/.password-store/" ]
then
  export PASSWORD_STORE_ENABLE_EXTENSIONS=true
  export PASSWORD_STORE_CHARACTER_SET='[:alnum:].,!?&*%_$#^@{}[]()|=/+-'
fi

if [ -d "$HOME/.cargo/bin" ]
then
	export PATH=$PATH:$HOME/.cargo/bin
fi

if [ -d "$HOME/.local/bin" ]
then
	export PATH=$PATH:$HOME/.local/bin
fi

if [ -d "$HOME/.config/emacs/bin" ]
then
	export PATH=$PATH:$HOME/.config/emacs/bin
fi

{{ if eq .chezmoi.hostname "franta-desktop"}}
export WORKON_HOME=~/.virtualenvs
source /usr/bin/virtualenvwrapper_lazy.sh
{{ end }}

{{ if (and (eq .chezmoi.os "darwin") (eq .isWork "true")) }}
alias b2="ssh-yubikey.sh b2 -t 'rm /run/user/38199/gnupg/S.gpg-agent; ~/bin/tmux a'"
compdef _pass workpass
zstyle ':completion::complete:workpass::' prefix "$HOME/work/.password-store/"
workpass() {
  PASSWORD_STORE_DIR=$HOME/work/.password-store/ pass $@
}
{{ end }}
tmux-window-name() {
	($TMUX_PLUGIN_MANAGER_PATH/tmux-window-name/scripts/rename_session_windows.py &)
}

add-zsh-hook chpwd tmux-window-name
