{{ if hasKey .chezmoi.osRelease "id"}}
{{ if eq .chezmoi.osRelease.id "rhel" -}}
#!/bin/sh
declare -a REPOS=("https://github.com/BurntSushi/ripgrep/releases/download/13.0.0/ripgrep-13.0.0-x86_64-unknown-linux-musl.tar.gz" "https://github.com/sharkdp/fd/releases/download/v8.7.0/fd-v8.7.0-x86_64-unknown-linux-gnu.tar.gz")

cd "$HOME"/tmp
for i in "${REPOS[@]}";
do 
  wget -c "$i" -O - | tar xz
  find ~+ -type f -executable -exec mv {} $HOME/bin \;
done
rm -r *
{{ end -}}
{{ end }}


