return {
	{
		"neovim/nvim-lspconfig",
		---@class PluginLspOpts
		opts = {
			---@type lspconfig.options
			servers = {
{{- if ne .chezmoi.uid "1144" -}}
				marksman = {},
				lua_ls = {},
				pyright = {},
				ansiblels = {},
				yamlls = {},
				dockerls = {},
				rust_analyzer = {},
				docker_compose_language_service = {},
{{- end -}}
				bashls = {},
			},
		},
	},
  -- { "pearofducks/ansible-vim" },
  { 
    "someone-stole-my-name/yaml-companion.nvim",
    requires = {
      { "neovim/nvim-lspconfig" },
      { "nvim-lua/plenary.nvim" },
      { "nvim-telescope/telescope.nvim" },
  },
  config = function()
    require("telescope").load_extension("yaml_schema")
  end,
 },
}
