return {
  { "chrisbra/csv.vim" },
  {
    "telescope.nvim",
    dependencies = {
      "nvim-telescope/telescope-fzf-native.nvim",
      build = "cmake -S. -Bbuild -DCMAKE_BUILD_TYPE=Release && cmake --build build --config Release && cmake --install build --prefix build",
      config = function()
        require("telescope").load_extension("fzf")
      end,
    },
  },
  -- {
  --   "Pocco81/auto-save.nvim",
  --   event = "VeryLazy",
  -- },
  {
    "nvim-treesitter/nvim-treesitter",
    opts = {
      ensure_installed = {
        "bash",
        "comment",
        "gitcommit",
        "gitignore",
        "git_config",
        "git_rebase",
        "gitattributes",
        "diff",
        "make",
        "toml",
        "regex",
        "vim",
        "vimdoc",
        "markdown_inline",
{{ if eq .isWork "false" }}
        "perl",
        "lua",
{{ end }}
{{ if eq .isWork "true" }}
        "puppet",
{{ end }}
      },
      highlight = {
        enable = true,
        additional_vim_regex_highlighting = { "markdown" },
      },
    },
  },
  {
    "alker0/chezmoi.vim",
    -- Added following 4 lines per https://github.com/alker0/chezmoi.vim/issues/57#issuecomment-1425027170, otherwise plugin starts too late
    lazy = false,
    init = function()
      vim.g['chezmoi#use_tmp_buffer'] = true
    end,
  },
}
