#!/usr/bin/env zsh
/* vim: set filetype=zsh */

# Make sure antidote works
[[ -d ${ZDOTDIR:-~}/.antidote ]] || git clone https://github.com/mattmc3/antidote ${ZDOTDIR:-~}/.antidote
source ${ZDOTDIR:-~}/.antidote/antidote.zsh
antidote load

autoload -U compinit; compinit # needs to be here to load completion

# +---------+
# | HISTORY |
# +---------+

setopt EXTENDED_HISTORY          # Write the history file in the ':start:elapsed;command' format.
setopt SHARE_HISTORY             # Share history between all sessions.
setopt HIST_EXPIRE_DUPS_FIRST    # Expire a duplicate event first when trimming history.
setopt HIST_IGNORE_DUPS          # Do not record an event that was just recorded again.
setopt HIST_IGNORE_ALL_DUPS      # Delete an old recorded event if a new event is a duplicate.
setopt HIST_FIND_NO_DUPS         # Do not display a previously found event.
setopt HIST_IGNORE_SPACE         # Do not record an event starting with a space.
setopt HIST_SAVE_NO_DUPS         # Do not write a duplicate event to the history file.
setopt HIST_VERIFY               # Do not execute immediately upon history expansion.

# Constructs a unique $PATH
typeset -U PATH path

source "$XDG_CONFIG_HOME/zsh/aliases"

# key-bindings
bindkey '^ ' autosuggest-accept
bindkey '^j' autosuggest-execute
bindkey '^k' autosuggest-clear
bindkey '^p' up-history
bindkey '^n' down-history
bindkey '^a' beginning-of-line
bindkey '^e' end-of-line

# protects against broken shell when starship is missing
if [ -f /usr/local/bin/starship ]; then
  eval "$(starship init zsh)"
fi

